@import "../../../../core";

.profile-post-section {
  flex: 1;
  overflow-y: auto;
  padding: 20px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: $primary-color;
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; // 이미지 간격
    margin-top: 20px;

    @include respond-to("tablet") {
      grid-template-columns: repeat(2, 1fr); // 태블릿에서는 2개씩
    }

    @include respond-to("mobile") {
      grid-template-columns: repeat(1, 1fr); // 모바일에서는 1개씩
    }
  }

  .post-item {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .post-image {
      width: 100%;
      height: auto;
      border-radius: 8px; // 이미지 모서리 둥글게
      object-fit: cover; // 이미지 비율 유지
    }
  }

  p {
    font-size: 1rem;
    color: $primary-color;
    text-align: center;
    margin-top: 20px;
  }
}