@import "../../../../core";

.comment-list {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: $background-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .comment-list__form {
    margin-bottom: 1rem;
    border-top: 1px solid $gray-light;
    padding-top: 1rem;
  }
}